<h1>{{roundView.gameId}} </h1>
<ul *ngFor="let user of roundView.users">
    <li>{{ user.userName }}</li>
    <li>{{ user.cardSum }}</li>
    <ul *ngFor="let card of user.cards">
        <li>{{card.rank}} {{card.suit}}</li>
    </ul>
</ul>

<!--<ul class="flex-container" *ngFor="let user of roundView.users">
    <div class="flex-item">
        <div>{{ user.userName }}</div>
        <div>{{ user.cardSum }}</div>
        <ul *ngFor="let card of user.cards">
            <div>{{card.rank}} {{card.suit}}</div>
        </ul>
    </div>
</ul>-->

<h1>{{roundView.isResultComplete}}</h1>
<div *ngIf="!complete">
    <button kendoButton (click)="onTakeButtonClick()">Take</button>
</div>
<div *ngIf="!complete">
    <button kendoButton (click)="onEnoughButtonClick()">Enough</button>
</div>
<div *ngIf="complete">
    <button kendoButton (click)="onFinishButtonClick()">Finish</button>
</div>
<div *ngIf="complete">
    <button kendoButton (click)="onHistoryButtonClick()">To history</button>
</div>

