<body>
    <form class="k-form" style="text-align:center">
        <div class="container" style="text-align:center">
            <kendo-combobox [data]="users"
                            textField ="Name"
                            >
            </kendo-combobox>
        </div>
        <div class="container" style="text-align:center">
            <kendo-dropdownlist [data]="botItems" [value]="'0'">
            </kendo-dropdownlist>
        </div>
        <div class="container" style="text-align:center">
            <button style="background-color:cadetblue; border-color:transparent" kendoButton (click)="onButtonClick()" [primary]="true">My Kendo UI Button</button>
            <p>
                <button kendoButton
                        (click)="onClick()"
                        (focus)="onFocus()"
                        (blur)="onBlur()">
                    My Button
                </button>
            </p>
            <event-log title="Event log" [events]="events"></event-log>
        </div>
    </form>
</body>
